body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.logo{
  width:15%;
  margin-top: -5px;
  margin-left: 5%;
}

.navbar {
  background-color: #ffffff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  overflow-x: auto;
}

.nav-links {
  display: flex;
  position: fixed;
  overflow-x: auto;
  left: 79%;
  flex-wrap: nowrap;
}

.nav-link {
  color: rgb(10, 68, 47);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 15px;
}

.nav-link:hover {
  background-color: #215361;
  color: rgb(255, 254, 254) ;
  
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 20px;
}

.header {
  width: 122%;
  background: center/cover no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 110px 50px;
  margin-bottom: 40px;
  text-align: center;
  margin-left: -10px;
  margin-right: -17px;
  margin-top: -20px;
  
}

.header h1 {
  font-size: 36px;
  font-weight: 700;
  color: #215361;
  
}

.header p {
  font-size: 17px;
  margin-top: 25px;
  color: #215361;
  bottom: 20px;
  left: 20px;
  text-align: left;
  margin-left: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center; /* Center the cards horizontally */
  width: 100%;
  height: 500px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px;
  flex: 1 1 calc(33% - 40px); /* Flex-grow, flex-shrink, flex-basis */
  text-align: center;
  min-width: 350px;
  max-width: 40 0px; /* Ensure a maximum width for better alignment */
  height: 400px;
}

.chart {
  width: 100%;
  height: 200px;
}
.card h2{
  color:#215361;
  font-weight:500;
  margin-top: 20px;
}

.button-container {
  margin-top: -50px;
}

button {
  background-color: #18603f;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: -180px;
}

button:hover {
  background-color: #145a33;
}
/*about*/
.about-container {
  padding: 20px;
  margin-top: 50px;
}
.about-container h1 {
  margin-left: 25%;
  margin-bottom: 30px;
  margin-top: 30px;
}
.cardA {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: 17%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 900px; 
  height: 400px; 
  justify-content: center;
  align-items: center;
  position: relative;
}

.cardA-content {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.cardA-image {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Added to make image section take up the same height */
}

.cardA-image img {
  width: 100%; /* Adjusted image width */
  height: auto;
  border-radius: 8px;
  margin-left: 5px;
  padding: 10px;
}

.cardA h2 {
  margin-bottom: 20px;
  color: #215361;
  font-weight: 500;
}

.cardA .cardA-image {
  order: 2;
}

.cardA .cardA-content {
  order: 1;
}
.cardA-buttons {
  position: absolute;
  top: 85%;
  left: 48%;
  display: flex;
  justify-content: space-between;
}

.arrow-button {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.chart-container {
  width: 65%; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
}
